<div id="<%= dom_id parking %>">
  <p>
    <strong>Name:</strong>
    <%= parking.name %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= parking.number %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= parking.location %>
  </p>

</div>
