<p style="color: green"><%= notice %></p>

<h1>Parkings</h1>
<b><%= link_to "New parking", new_parking_path %></b>

<div id="parkings">
  <% @parkings.each do |parking| %>
    <%= render parking %>
    <p>
      <%= link_to "Show this parking", parking %>
    </p>
  <% end %>
</div>

